.judges-center {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 100px;
  border-radius: 50%;
}

#judges-parent {
  display: grid;
  grid-template-columns: 50fr 50fr;
}

@media (max-width: 1024px) {
  #judges-parent {
    display: grid;
    grid-template-columns: 80fr;
  }
}

.judges-container {
  padding: 0 18px;
  padding-top: 5px;
  overflow: hidden;
}

.judges-info {
  padding: 0 18px;
  padding-top: 5px;
  overflow: hidden;
  text-align: center;
}

.judges-info p {
  line-height: 1.5;
  color: black;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.judges-info a {
  color: #2582F2;
}