#about {
  padding-top: 10%;
}

.outer-th-video{
    float:right;
    margin:0 10px 5px 0;
}

.th-video{
    /*margin: 0 auto;*/
    width: 100%;
    margin-left:100px;
    margin-right:100px;
}


.outer-th-video-para{
    height: 400px;
    /* Change width back once video is ready */
    /* width: 60%; */
    width: 100%;
    position: relative;
    border: 0px solid;
    /* Remove flex properties once vid is ready */
    display: flex;
    align-items: center;
    justify-content: center;
}

.th-video-para{
    margin: 0;
    position: absolute;
    top: 25%;
    /* Remove width property once video is ready */
    width: 60%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-bottom: 20px;
}

.th-video-text{
    line-height: 2.5;
}

#about h2 {
  padding-top: 1em;
}

@media only screen and (max-width: 480px) {
    #about {
      padding-top: 30%;
    }
    .outer-th-video{
        float:none;
        margin: 0 10px 5px 0;
    }
    .th-video-text{
        line-height: 1.5;
    }
    /* Remove when video is ready */
    .th-video-para {
      width: 80%;
      margin-top: 10%;
    }
    /* Add back when video is ready */
    /* .th-video-para{
        left:30%;
        position:relative;
        top:40%;
    } */
    .th-video{
        top:50%;
        margin-left:0px;
    }
    
}