.expandable{
    background-color:#2582F2;
    color:white;
    padding:16px;
    font-size: 20px;
    width:100%;
    text-align:left;
    cursor:pointer;
    border:none;
    outline:none;
}

.active, .expandable:hover{
    background-color:#5d5f61;
}

.text_answer{
    background-color: #212A36;
    padding: 0 18px;
    padding-top: 5px;
    overflow:hidden;
    display:none;
}

.text_answer p {
  line-height: 1.5;
}

@media(max-width: 480px) {

  #faq .row .section-heading {
    padding-top: 1em;
  }

  .expandable {
    font-size: 1.2em;
  }

  .text_answer p {
    font-size: 1em;
    line-height: 1.3;
  }
}